html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: bisque;
}

.main{
  display: flex;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  background-color: beige;
  height:100vh;
  padding: 20px;
}

.sidebar > .bio{
 text-align: center;
}
h2{
  color:blueviolet;
  font-weight: bold;
}
.bio h4{
  color:indigo;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  padding: 20px;
  background-color: silver;
  height:100vh;
}
.image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ddd;
}
.links{
  display: flex;
  flex-direction: column;
}

.links a{
  padding: 10px;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
}

.summary p{
  font-size: 1.5em;
  line-height: 1.5em;
  color:#444;
}

.skill-group,
.project-group{
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  gap: 5px;
}

.skill{
  text-align: center;
  border:2px solid indigo;
  font-weight: bolder;
  color:indigo;
}
.skill{
  width: 24%;
  padding: 10px;
  height: 50px;
}

.project{
  display: flex;
  flex-direction: column;
  border:2px solid #eee;
  width: 32%;
  gap: 5px;
  background-color: antiquewhite;
  margin-top: 10px;
}
.project > h4{
  padding: 5px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color:indigo;
}
.project-image{
  background-color: #ddd;
  padding: 10px;
  height: 100px;
}



@media screen and (max-width:480px) {

  .main {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .content{
    width: 100%;
  }
}