@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main">
    <div class="sidebar">
        <div class="image">

        </div>
        <div class="bio">
            <h2>@Model.FullName</h2>
            <h4>@Model.Title</h4>
        </div>

        <div class="links">
            <a href="/">About</a>
            <a href="/">Skills</a>
            <a href="/">Projects</a>
            <a href="/">Social Media</a>
        </div>

    </div>
    <div class="content">
        <div class="summary">
            <h2>Summary</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex delectus consequatur nobis blanditiis sequi
                eligendi architecto, officia nihil! Velit vero delectus rerum numquam illo quae placeat modi sunt
                exercitationem provident!</p>
        </div>

        <div class="skills">
            <h2>Skills</h2>
            <div class="skill-group">
                <div class="skill">PHP</div>
                <div class="skill">ASP</div>
                <div class="skill">JavaScript</div>
                <div class="skill">Laravel</div>
                <div class="skill">MySQL</div>
                <div class="skill">React</div>
                <div class="skill">Laravel</div>
                <div class="skill">AWS</div>
            </div>
        </div>


        <div class="projects">
            <h2>Projects</h2>
            <div class="project-group">
                <div class="project">
                    <div class="project-image"></div>
                    <h4>Somcoders</h4>
                </div>
                <div class="project">
                    <div class="project-image"></div>
                    <h4>Fogaandersi</h4>
                </div>
                <div class="project">
                    <div class="project-image"></div>
                    <h4>Kaahtech</h4>
                </div>
                <div class="project">
                    <div class="project-image"></div>
                    <h4>Lula.ca</h4>
                </div>
                <div class="project">
                    <div class="project-image"></div>
                    <h4>MangoImmigration</h4>
                </div>
            </div>
        </div>
    </div>
</div>
