@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main">
    <div class="sidebar">
        <div class="image">

        </div>
        <div class="bio">
            <h2>@Model.FullName</h2>
            <h4>@Model.Title</h4>
        </div>

        <div class="links">
            <a href="/">About</a>
            <a href="/">Skills</a>
            <a href="/">Projects</a>
            <a href="/">Social Media</a>
        </div>

    </div>
    <div class="content">
        Main Contents
    </div>
</div>
